@font-face {
  font-family: 'AuthorityApp';
  src:
    url('fonts/AuthorityApp.ttf?4f68cy') format('truetype'),
    url('fonts/AuthorityApp.woff?4f68cy') format('woff'),
    url('fonts/AuthorityApp.svg?4f68cy#AuthorityApp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AuthorityApp' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}
